/* You can add global styles to this file, and also import other style files */
.card {
    padding: 0px;
}

.card-div{
    margin: 10px 0;
}

.mask-text{

    font-weight: 900;
    text-transform: uppercase;
}

.row {
margin: auto 0px;
}